*{
  box-sizing: border-box;
}
.nav-item .nav-link:active, .nav-item .nav-link:hover {
  color: rgb(25,135,84) !important;
}
.banner-img{
  height: 600px;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.banner-img-about{
  height: 450px;
  background-image: url("../img/banner-about.jpg");
  background-size: cover;
  background-position:   center;
}
.black-shadow{
  height: 100%;
  background-color: black;
  opacity: .3;
}
.banner-desc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #ffffff;
}
.banner-desc hr, .banner-desc p{
  max-width: 1200px;
}
.dino-img{
  display: inline-block;
  width: 350px;
  height: 350px;
  overflow: hidden;
}
.dino-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.team-item-img{
  width: 100%;
  height: 300px;
  overflow: hidden;

}
.team-item-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.team-icon-link{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius:50% ;
  width: 30px;
  height: 30px;
  border: 1px solid rgb(25,135,84);
  color: rgb(25,135,84);
  text-decoration: none;
  transition: all .4s ease;
  margin-right: 10px;

}
.team-icon-link:hover{
  color: whitesmoke;
  background: rgb(25,135,84);
}

::selection{
  background: rgb(25,135,84);
  color: white;
}